<div class="confirm-dialog__content" mat-dialog-content>
  {{ data.message || 'Do you really want to do that?' }}
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" mat-dialog-actions>
  <button pButton (click)="onNoClick()">
    {{ data?.cancelText || 'Cancel' }}
  </button>
  <button pButton (click)="onYesClick()">
    {{ data?.confirmText || 'Ok' }}
  </button>
</div>