<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
      (click)="addPriority()"></button>
  </ng-template>

</p-toolbar>

<p-table #dt [value]="(priorities$ | async)!" [rows]="10" [paginator]="true" responsiveLayout="scroll"
  [(selection)]="selectedPriorities" [rowHover]="true" dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
  (onEditComplete)="onEditComplete($event)"
>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="value">Value <p-sortIcon field="value"></p-sortIcon>
      </th>
      <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-priority>
    <tr>
      <td>
        <p-tableCheckbox [value]="priority"></p-tableCheckbox>
      </td>
      <td [pEditableColumn]="priority" [pEditableColumnField]="'name'">
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="priority.name">
            </ng-template>
            <ng-template pTemplate="output">
                {{priority.name}}
            </ng-template>
        </p-cellEditor>
    </td>
      <td>{{priority.value}}</td>
      <td>
        <div style="width: 30px; height: 30px; border-radius: 3px;" [style.background-color]="priority.color">
        </div>
      </td>

      <td>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
          (click)="deletePriority(priority)"></button>
      </td>
    </tr>
  </ng-template>

</p-table>

<mat-list role="list">
  <mat-list-item *ngFor="let p of priorities$">{{}}</mat-list-item>
</mat-list>