<div>
  <h3 mat-dialog-title>New Priority</h3>

  <form [formGroup]="form">
    <div fxFlex fxLayout="column" fxLayoutGap="16px">

      <mat-form-field fxFlex style="width:100%;">
        <input matInput formControlName="name" placeholder="Name" />
      </mat-form-field>

      <mat-form-field fxFlex style="width:100%;">
        <input type="color" matInput formControlName="color" placeholder="Color" />
      </mat-form-field>
      
      <mat-form-field fxFlex style="width:100%;">
        <input type="number" matInput formControlName="value" placeholder="Value" />
      </mat-form-field>

    </div>
  </form>
</div>

<div fxLayout fxLayoutAlign="space-around center">
  <button pButton (click)="cancel()">
    Cancel
  </button>

  <button pButton [disabled]="!form.valid" (click)="submit()">
    Create
  </button>
</div>